/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 430px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* styles.css */

/* Container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Restaurant Table */
.restaurant-table {
    width: 100%;
    border-collapse: collapse;
}

.restaurant-table th, .restaurant-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.restaurant-table th {
    background-color: #f2f2f2;
}

/* Pagination */
.pagination {
    margin-top: 20px;
    text-align: center; /* Center align pagination buttons */
}

.btn {
    padding: 5px 10px; /* Adjust button padding */
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px; /* Add border radius */
}

.btn:hover {
    background-color: #0056b3;
}

.btn-previous {
    margin-right: 5px; /* Adjust margin between buttons */
}

.btn-next {
    margin-left: 5px; /* Adjust margin between buttons */
}

/* styles.css */

/* Container */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

/* Search Container */
.search-container {
    display: flex;
    align-items: center;
}

/* Search Input */
#restaurantId {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

/* Search Button */
.btn-search {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-search:hover {
    background-color: #0056b3;
}

.btn-delete {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: #b30000;
}
